
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Open Sans', sans-serif;
}

.side-bar {
	width:250px;
	min-height:100vh;
	margin-bottom:-2px;
	box-shadow:0.1px 0.1px 10px #787878;
	/* margin-right:15px; */
}

.side > h3 {
	padding:20px 0 20px 15px;
	color:#555555;
	font-family: 'Montserrat', sans-serif;
}

.side > h4 {
	font-weight:400;
	padding:4px 0 4px 15px;
	font-family: 'Robot', sans-serif;
}

/* Right Side */
main {
	display:flex;
}

@media (max-width:750px) {
	.side-bar {
		display:none;
	}
}

.right_side {
	width:100vw;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.right__1 {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.right__1 > h1 {
	font-weight:500;
	color:#555;
	letter-spacing:0.6px;
	font-size:65px;
	font-family: 'Open Sans', sans-serif;
	margin-top:25px;
}

.right__1 > p {
	margin:20px 0 25px 0;
	font-family: 'Open Sans', sans-serif;
	font-size:23px;
}

.right__1 .btn button {
	background:#555;
	color:#FFF;
	border:none;
	outline:none;
	padding:10px 10px;
	letter-spacing:0.8px;
}

/* Top Box */
.top-box-1 {
	background:#F3F3F3;
	width:90%;
	height:410px;
	margin-top:50px;
	box-shadow:1px 1px 7px #787878;
	
}

.top-box-1 > h1 {
	margin:30px 0 20px 15px;
	font-weight:400;
	font-size:25px;
	font-family: 'Robot', sans-serif;
}

.compile {
	display:flex;
	flex-direction:column;
	align-items:center;
}


.top-box-1 .inside-compile {
	width:90%;
	height:250px;
	border-left:4px solid #00B53E;
	background:#FFF;
	padding:10px 10px;
}

.inside-compile div {
	margin:2px 0;
}

.try-btn {
	background:#00B53E;
	padding:10px 14px;
	border:none;
	outline:none;
	margin:20px 0 20px 35px;
	color:#FFF;
	font-family: 'Roboto', sans-serif;
}


/* Color */
.blue {
	color:blue;
}
.brown {
	color:#DF6533
}
.red {
	color:red;
}

/* Css */
.right__2 {
	width:100%;
	background:#F3F3F3;
	margin:40px 0 0 0;
	height:730px;
	z-index:-1;
}

.css-compile {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.css-compile > h1 {
	font-size:65px;
	color:#555;
	text-align:center;
	margin-top:30px;
	font-weight:550;
	font-family: 'Open Sans', sans-serif;
}

.css-compile > p {
	text-align:center;
	margin:20px 0 25px 0;
	font-family: 'Open Sans', sans-serif;
	font-size:23px;
}

.css-compile button {
	background:#555;
	color:#FFF;
	border:none;
	outline:none;
	padding:10px 10px;
	letter-spacing:0.8px;
}

.css-compile .css-left {
	text-align:left;
}

.right__2 .top-box-2 > h1 {
	color:#000;
	margin:50px 0 0 22px;
	font-size:25px;
	font-weight:400;
	font-family: 'Robot', sans-serif;
}


.right__2 .inside-compile {
	width:94%;
	height:310px;
	border-left:4px solid #00B53E;
	background:#FFF;
	padding:10px 10px;
	margin:15px 0 0 0;
}
 
 
/*  CSS */

.compile .inside-compile {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

code {
	letter-spacing:0.7px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
}

/* End CSS example */
.javascript-example {
	display:flex;
	flex-direction:column;
	width:100%;
	align-items:center
}

.javascript-example .js-topic {
	font-size:65px;
	font-weight:500;
	color:#555;
	letter-spacing:0.6px;
	font-family: 'Open Sans', sans-serif;
	margin-top:30px
}

.javascript-example #topic {
	margin:20px 0 25px 0;
	font-family: 'Open Sans', sans-serif;
	font-size:23px;
}


.javascript-example .btn button {
	background:#555;
	color:#FFF;
	border:none;
	outline:none;
	padding:10px 10px;
	letter-spacing:0.8px;
}

.javascript-example .js-compile {
	width:95%;
	background-color:#F3F3F3;
	min-height:300px;
	margin-top:50px;
	box-shadow:1px 1px 7px #787878;
	
}

.js-compile > h1 {
	margin:30px 0 20px 15px;
	font-weight:400;
	font-size:25px;
	font-family: 'Robot', sans-serif;
}

.js-compile .inside-compile {
	width:94%;
	height:230px;
	border-left:4px solid #00B53E;
	background:#FFF;
	padding:10px 10px;
	margin:15px 0 0 15px;
}

#js-try-btn {
	margin-left:10px
}

pre {
	line-height:23px;
}

.js-compile code {
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing:0.8px;
}

/* sql */
.sql-ex {
	width:100%;
	background:#F3F3F3;
	margin-top:50px;
	z-index:-1;
}

.sql-ex > h1 {
	font-size:65px;
	color:#555;
	text-align:center;
	margin-top:30px;
	font-weight:550;
	font-family: 'Open Sans', sans-serif;
}

.sql-ex > p {
	text-align:center;
	margin:20px 0 25px 0;
	font-family: 'Open Sans', sans-serif;
	font-size:23px;
}

.sql-ex .btn button {
	background:#555;
	color:#FFF;
	border:none;
	outline:none;
	padding:10px 10px;
	letter-spacing:0.8px;
}

#sql-example {
	color:#000;
	margin:50px 0 0 22px;
	font-size:25px;
	font-weight:400;
	font-family: 'Robot', sans-serif;
}

.inside-sql{
	width:94%;
	height:100px;
	border-left:4px solid #00B53E;
	background:#FFF;
	padding:10px 10px;
	margin:15px 0 0 25px;
	box-shadow:1px 1px 5px #787878;
}

/* sprt */
.section {
	background-color:#555;
	width:100%;
	z-index:-3;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.section .py-section {
	background:#FFF;
	width:95%;
	height:200px;
	margin:20px 0;
	display:flex;
	flex-direction:column;
	align-items:center;
	font-family: 'Open Sans', sans-serif;
}

.section .py-section h1 {
	font-size:25px;
	font-weight:400;
	margin:17px 0 13px 0;
}

.section .py-section p {
	margin:0 0 30px 0;
}

.section .py-section button {
	padding:9px 15px;
	color:#Fff;
	background:#555;
	border:none;
	margin-top:14px;
}

.class_div {
	text-align:center;
}

.class_div h1 {
	font-size:22px;
	font-weight:400;
	margin-top:60px;
}

.class_div p {
	margin-top:15px;
	margin-bottom:15px;
}

.class_div button {
	padding:8px 15px;
	background:#555;
	border:none;
	outline:none;
	color:#FFF;
}

.class_div h2 {
	font-size:22px;
	font-weight:400;
	margin-top:60px;
	margin-bottom:25px;
}

.color-picker {
	margin-bottom:50px;
}


.class_div h3 {
	font-size:22px;
	font-weight:400;
}

.class_div .btn button {
	padding:8px 15px;
	background:#555;
	border:none;
	outline:none;
	color:#FFF;
	margin:0 5px;
}
