* {
	margin:0;
	padding:0;
}

.side-bar {
	width:250px;
	min-height:100vh;
	margin-bottom:-2px;
	box-shadow:0.1px 0.1px 10px #787878;
}

.side > h3 {
	padding:20px 0 20px 15px;
	color:#555555;
	font-family: 'Montserrat', sans-serif;
}

.side > h4 {
	font-weight:450;
	padding:4px 0 4px 15px;
	font-family: 'Montserrat', sans-serif;
}

/* Right Side */
main {
	display:flex;
}

@media (max-width:750px) {
	.side-bar {
		display:none;
	}
}

.right_side {
	width:100%;
	margin-left:10px;
}


