* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.side-bar {
	width:250px;
	min-height:100vh;
	margin-bottom:-2px;
	box-shadow:0.1px 0.1px 10px #787878;
	/* margin-right:15px; */
}

.side > h3 {
	padding:20px 0 20px 15px;
	color:#555555;
	font-family: 'Montserrat', sans-serif;
}

.side > h4 {
	font-weight:400;
	padding:4px 0 4px 15px;
	font-family: 'Robot', sans-serif;
}

/* Right Side */
main {
	display:flex;
}

@media (max-width:750px) {
	.side-bar {
		display:none;
	}
}

.right_side {
	width:100vw;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.right__1 {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.right__1 > h1 {
	font-weight:500;
	color:#555;
	letter-spacing:0.6px;
	font-size:50px;
	font-family: 'Open Sans', sans-serif;
	margin-top:25px;
}

.right__1 > p {
	margin:20px 0 25px 0;
	font-family: 'Open Sans', sans-serif;
}

.right__1 .btn button {
	background:#555;
	color:#FFF;
	border:none;
	outline:none;
	padding:10px 10px;
	letter-spacing:0.8px;
}

/* Top Box */
.top-box-1 {
	background:#F9F9F9;
	width:90%;
	height:390px;
	margin-top:50px;
	box-shadow:1px 1px 7px #787878;
	
}

.top-box-1 > h1 {
	margin:30px 0 20px 15px;
	font-weight:400;
	font-size:25px;
	font-family: 'Robot', sans-serif;
}

.compile {
	display:flex;
	flex-direction:column;
	align-items:center;
}


.top-box-1 .inside-compile {
	width:90%;
	height:230px;
	border-left:3px solid #00B53E;
	background:#FFF;
	padding:10px 10px;
}

.inside-compile div {
	margin:2px 0;
}


/* Color */
.blue {
	color:blue;
}
.brown {
	color:#DF6533
}
.red {
	color:red;
}